body {
  /*background-color: #d7dce7;*/
}
.navbar-nav > li > a {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: text;
}

.smooth{
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: text;
}

.with-border{
  border-right: 1px solid #e5e9ef;
  min-height: 300px;
}

.entry{
  border: 1px solid #e5e9ef;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #737c93;
  text-rendering: optimizelegibility;
  line-height: 19px;

  -webkit-font-smoothing: antialiased;
  -webkit-user-select: text;

  height: 42px;

  cursor: pointer;

  margin-bottom: 10px;
}

.entry:hover{
  background-color: #f5f5f5;
}

.entry .entry-label{
  width: 40px;
  height: 40px;

  float: left;
}

.entry .entry-name{
  padding: 10px;
  float: left;
}

.entry .entry-stats{
  float: right;
  margin-top: 9px;
  margin-right: 12px;

  font-weight: bold;
  color: #989faf;
}

.entry-green .entry-label{
  background-color: #10d2c4;
}

.entry-red .entry-label{
  background-color: #cf5e73;
}

.entry-yellow .entry-label{
  background-color: #efc860;
}

/* Service Details */

.service-details-col{
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: text;
}

.service-details-col p{
  font-size: 14px;
}

.service-details-col h4{
  font-size: 24px;
  color: #697389;

  -webkit-font-smoothing: antialiased;
  -webkit-user-select: text;

  margin-top: 10px;
  margin-bottom: 15px;
}

.service-details-col h5{
  font-size: 16px;
  color: #697389;

  -webkit-font-smoothing: antialiased;
  -webkit-user-select: text;

  margin-top: 10px;
  margin-bottom: 15px;
}



.service-details-col hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-edit-service{
  float: right;
  margin-top: -2px;
}

/* Container and hosts listing */
div.machine-entries{
  border: 1px solid #e5e9ef;
}

div.machine-entries div.machine-title{
  border: 1px solid #e5e9ef;
  border-bottom: 2px solid #e5e9ef;
  font-size: 16px;
  height: 48px;

  cursor: pointer;
}

div.machine-entries div.machine-title:hover{
  background-color: #f7f7f9;
}

div.machine-entries div.machine-title div.machine-name{
  padding: 10px;
  float: left;
}

div.machine-entries div.machine-title div.machine-status{
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}

div.machine-entries div.machine-label{
  width: 47px;
  height: 45px;

  float: left;
}

div.machine-title.status-green div.machine-label{
  background-color: #10d2c4;
}

div.machine-title.status-red div.machine-label{
  background-color: #cf5e73;
}

div.container-entry{
  height: 40px;
  background: #f7f7f9;

  clear:both;
}

div.container-entry div.container-label{
  float: left;
  width: 35px;
  height: 40px;
}

div.container-entry div.container-name{
  padding: 10px;
  float: left;

  font-size: 13px;
}


div.container-entry div.container-name .container-port{
  font-size: 12px;
}

div.container-entry div.container-status{
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

div.container-entry.status-green div.container-label{
  background-color: #10d2c4;
}

div.container-entry.status-red div.container-label{
  background-color: #cf5e73;
}

/* Deploy new service */
.new-service h2{
  font-size: 24px;
  color: #697389;

  -webkit-font-smoothing: antialiased;
  -webkit-user-select: text;

  margin-top: 10px;
  margin-bottom: 15px;
}

.new-service .service_name_input{
  width: 300px;
  margin-right: 15px;
}

.new-service .container_images_label{
  margin-right: 10px;
}

.new-service .machine-entries{
  border: none;
  margin-top: 10px;
}

.new-service .machine-entries .machine-title{
  margin-bottom: 4px;
}

.new-service .machine-entries .machine-title.selected{
  background-color: #f7f7f9;
}


.new-service .machine-entries .machine-opts{
  background-color: #f7f7f9;
  margin-top: -4px;

  border: 1px solid #e5e9ef;
  border-top: none;

  padding: 6px;

  font-size: 14px;
}

.new-service .machine-entries .machine-opts .instances-holder{
  margin-top: 10px;
  margin-left: 8px;
}

.new-service .machine-entries .machine-opts #instance_number{
  font-size: 18px;
  width: 60px;
  margin-left: 5px;

  padding: 5px;
}

.new-service .machine-entries .port-range{
  margin-left: 4px;
}

.new-service .machine-entries .machine-opts .port_range_input{
  font-size: 18px;
  width: 90px;
  margin-left: 3px;

  padding: 5px;
}

.new-service .stage-choose{
  margin-top: 30px;
  height: 100px;
  font-size: 14px;
  color: #697389;
}

.new-service .description{
  color: #697389;
}

.new-service .stage-choose ul {
  list-style-type: none;
  margin-left: -40px;
}

.new-service .stage-choose ul li {
  float: left;
  margin-right: 15px;
  font-size: 22px;
}


.new-service .stage-choose ul li span.label {
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
}


.new-service .service-configuration .add_more {
  border-bottom: 1px #787878 dotted;
  color: #787878;
}

.new-service .service-configuration{
  margin-top: 20px;
}

.new-service input.ng-invalid:not(.ng-untouched) {
  color: #e74c3c;
  border-color: #e74c3c;
}

.loading-spinner{
  text-align: center
}

.gmb-loader {
  font-size: 0;
  display: inline-block;
  position: relative;
  height: 120px;
  width: 120px;
}
.gmb-loader div {
  background: #56c4b4;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  -webkit-animation: gmb-bounce 1.75s infinite;
  animation: gmb-bounce 1.75s infinite;
  top: 50%;
  margin-top: -15px;
}
.gmb-loader div:nth-child(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  left: 50%;
  margin-left: -15px;
}
.gmb-loader div:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  right: 0;
}

@-webkit-keyframes gmb-bounce {
  10% {
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    height: 30px;
  }

  14% {
    height: 90px;
  }

  15% {
    height: 30px;
    -webkit-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
  }

  35% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gmb-bounce {
  10% {
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    height: 30px;
  }

  14% {
    height: 90px;
  }

  15% {
    height: 30px;
    -webkit-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
  }

  35% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.table-loading {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;

  margin-top: 50px;
}

.table-loading .cell {
  display: table-cell;
  vertical-align: middle;
}

.danger-area{
  border:1px dotted #e74c3c;
  padding: 15px;
  padding-top: 0px;
}

.danger-area h5{
  color: #e74c3c;
}
