<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Keep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="static/styles/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/styles/flat-ui.css" rel="stylesheet">

    <link href="static/styles/keep.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="static/scripts/html5shiv.js"></script>
      <script src="static/scripts/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="keepUiApp">
    <div class='navbar navbar-default navbar-inverse navbar-embossed navbar-static-top' role='navigation'>
      <div class='container'>
        <div class='navbar-header'>
          <button class='navbar-toggle' data-target='.navbar-collapse' data-toggle='collapse' type='button'>
            <span class='sr-only'>Toggle navigation</span>
          </button>
          <a class='navbar-brand' href='/'>
            <span class="fui-list-small-thumbnails"></span>
          </a>
        </div>
        <div class='navbar-collapse collapse'>
          <ul class='nav navbar-nav'>
            <li class='active'>
            <a href='#/'>Services</a>
            </li>
            <li>
            <a href='#about'>Hosts</a>
            </li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      Start doing your next awesomeness here.
    </div>


    <script src="static/scripts/jquery.min.js"></script>
    <script src="static/scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="static/scripts/jquery.ui.touch-punch.min.js"></script>
    <script src="static/scripts/bootstrap.min.js"></script>
    <script src="static/scripts/bootstrap-select.js"></script>
    <script src="static/scripts/bootstrap-switch.js"></script>
    <script src="static/scripts/flatui-checkbox.js"></script>
    <script src="static/scripts/flatui-radio.js"></script>
    <script src="static/scripts/jquery.tagsinput.js"></script>
    <script src="static/scripts/jquery.placeholder.js"></script>

    <script src="static/scripts/angular.min.js"></script>
    <script src="static/scripts/angular-resource.min.js"></script>
    <script src="static/scripts/angular-sanitize.min.js"></script>
    <script src="static/scripts/angular-route.min.js"></script>

    <script src="static/scripts/keep/app.js"></script>
    <script src="static/scripts/keep/controllers/main.js"></script>
    <script src="static/scripts/keep/controllers/about.js"></script>

    <script src="static/scripts/keep/app.js"></script>
    <script src="static/scripts/keep/controllers/main.js"></script>
    <script src="static/scripts/keep/controllers/about.js"></script>

  </body>
</html>
